<% include ../header %>

<h1>Photos?</h1>

<a href="/photos/new">Add photo</a>

<ul>
  <% photos.forEach(function(photo) { %>
    <li>
      <%= photo.name %>
      <%= photo.image_path %>
      <img src="<%= photo.image_path %>" />
    </li>
  <% }) %>
</ul>

<% include ../footer %>
